<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="icon" href="https://haidejaquelineaf.github.io/b-artemxv1/Assets/img/ImgsLogos/LogoCorazon_b-artemx.png">
    <!--Styles-->
        <!--bootstrap-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!--Icons-->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <!--Mis Styles-->
            <link rel="stylesheet" href="https://haidejaquelineaf.github.io/b-artemxv1/Assets/css/StyleGeneral/StyleGeneral.css">
            <link rel="stylesheet" href="https://haidejaquelineaf.github.io/b-artemxv1/Assets/css/StyleMenu/StyleMenuPrincipalNegro.css">
            <link rel="stylesheet" href="https://haidejaquelineaf.github.io/b-artemxv1/Assets/css/StylePagInicio/StylePagInicio.css">
    <!--JQuery-->
        <script src="https://haidejaquelineaf.github.io/b-artemxv1/Assets/Tools/Jquery/jquery.min.js"></script>
</head>
<body>

    <!--MENU MAQUETACIÓN 1 NVL OFFCANVAS NEGRO-->
        <div class="container-fluid bg-menuPrincipal px-0" id="menu">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 d-block d-sm-none text-center pt-sm-1 pt-3">
                        <a class="text-decoration-none text-white fs-5" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Inicio/">
                            <img class="img-fluid d-inline-block size-logo" src="https://haidejaquelineaf.github.io/b-artemxv1/Assets/img/ImgsLogos/logoL_b-artemx_bc85898C.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-dark bg-transparent">

                    <button type="button" class="navbar-toggler border-0 ps-4 size-iconmenu" data-bs-toggle="offcanvas"  data-bs-target="#menubam6">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="text-decoration-none fs-4 ps-2 d-none d-sm-block" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Inicio/">
                        <img class="img-fluid d-inline-block size-logo" src="https://haidejaquelineaf.github.io/b-artemxv1/Assets/img/ImgsLogos/logoL_b-artemx_bc85898C.png">
                    </a>
                    <div class="container d-flex justify-content-end col">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn p-0"><i class="bi bi-bell fs-5 px-1 text-white"></i></button>
                            <button type="button" class="btn p-0"><i class="bi bi-cart2 text-white fs-5 px-1"></i></button>
                            <button type="button" class="btn p-0"><img class="size-iconsmenu"src="https://haidejaquelineaf.github.io/b-artemxv1/Assets/img/ImgsIconos/icon_languageFFFFFF.png"></button>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="https://haidejaquelineaf.github.io/b-artemxv1/Assets/img/ImgsIconos/icon_user.png" class="img-circle elevation-3 rounded-circle size-user">
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end rounded-0 size-dropdownuser" aria-labelledby="btnGroupDrop1">
                                    <li class="px-2 row d-flex align-items-center">
                                        <div class="col-3">
                                            <img src="https://haidejaquelineaf.github.io/b-artemxv1/Assets/img/ImgsIconos/icon_user.png" class="img-circle elevation-3 rounded-circle size-userdrop">
                                        </div>
                                        <div class="col-9 pt-1">
                                            <p class="fw-bold pt-1">Artista/Tenedor
                                            <small class="fw-light pt-2">haide.aguilar14@gmail.com</small>
                                            </p>
                                        </div>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li><a class="dropdown-item d-flex align-items-center fw-light" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Cuenta/"><i class="bi bi-person-circle fs-5 text-secondary pe-3"></i>Mi cuenta</a></li>
                                    <li><a class="dropdown-item d-flex align-items-center fw-light" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/"><i class="bi bi-bell-fill fs-5 text-secondary pe-3"></i>Notificaciones</a></li>
                                    <li><a class="dropdown-item d-flex align-items-center fw-light" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/"><i class="bi bi-gear-fill fs-5 text-secondary pe-3"></i>Configuración</a></li>
                                    <li><a class="dropdown-item d-flex align-items-center fw-light" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/"><i class="bi bi-headset fs-5 text-secondary pe-3"></i>Ayuda y soporte</a></li>
                                    <li><a class="dropdown-item d-flex align-items-center fw-light" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/"><i class="bi bi-book-fill fs-5 text-secondary pe-3"></i>Política de privacidad</a></li>
                                    <li><a class="dropdown-item d-flex align-items-center fw-light" href="https://haidejaquelineaf.github.io/b-artemxv1/"><i class="bi bi-power fs-5 text-secondary pe-3"></i>Cerrar sesión</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <section class="offcanvas offcanvas-start bg-white contentmenulat" id="menubam6" tabindex="-1">
                        <div class="offcanvas-header pb-0 pt-2 pb-2 rounded-0 bg-menuPrincipal">
                            <a class="text-decoration-none fs-5 text-center" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Inicio/">
                                <img class="img-fluid d-inline-block size-logo" src="https://haidejaquelineaf.github.io/b-artemxv1/Assets/img/ImgsLogos/logoL_b-artemx_bc85898C.png">
                            </a>
                            <button  type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body d-flex flex-column justify-content-between px-0">
                            <ul class="navbar-nav justify-content-evenly pt-3">
                                <li class="nav-item py-2 ps-4 position-relative">
                                    <a href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Inicio" class="nav-link">
                                        <i class="bi bi-house-door-fill fs-5 text-secondary"></i>
                                        <strong class="ps-2 fw-light">Inicio</strong>
                                    </a>
                                </li>
                                <li class="nav-item py-2 ps-4 position-relative">
                                    <a href="" class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                        <i class="bi bi-people-fill fs-5 text-secondary"></i>
                                        <strong class="ps-2 fw-light">Conócenos</strong>
                                    </a>
                                    <ul class="dropdown-menu rounded-0 dropdwnmenu">
                                        <li><a class="dropdown-item px-4" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/">Quiénes somos</a></li>
                                        <li><a class="dropdown-item px-4" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/">Filosofía</a></li>
                                        <li><a class="dropdown-item px-4" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/">Contacto</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item py-2 ps-4 position-relative">
                                    <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                        <i class="bi bi-building-fill-lock fs-5 text-secondary"></i>
                                        <strong class="ps-1 fw-light">Mercado del arte</strong>
                                    </a>
                                    <ul class="dropdown-menu rounded-0 dropdwnmenu">
                                        <li><a class="dropdown-item px-4" href="http://192.168.1.78/Galeria/index.php">Galería</a></li>
                                        <li><a class="dropdown-item px-4" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/RegistroObras">Registro obras</a></li>
                                        <li><a class="dropdown-item px-4" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/">Valuación de obras</a></li>
                                        <li><a class="dropdown-item px-4" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/">Artistas</a></li>
                                        <li><a class="dropdown-item px-4" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/">Subasta</a></li>
                                        <li><a class="dropdown-item px-4" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/">ARTCOIN</a></li>
                                        <li><a class="dropdown-item px-4" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/">Lotería</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item py-2 ps-4 position-relative">
                                    <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                        <i class="bi bi-mortarboard-fill fs-5 text-secondary"></i>
                                        <strong class="ps-2 fw-light">Académico</strong>
                                    </a>
                                    <ul class="dropdown-menu rounded-0 dropdwnmenu">
                                        <li><a class="dropdown-item px-4" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/">Innovación y desarrollo</a></li>
                                        <li><a class="dropdown-item px-4" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/">Universidad</a></li>
                                        <li><a class="dropdown-item px-4" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/">Catálogos</a></li>
                                        <li><a class="dropdown-item px-4" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/">Publicaciones</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item py-2 ps-4 position-relative">
                                    <a href="https://haidejaquelineaf.github.io/b-artemxv1/Views/RConcurso/" class="nav-link ">
                                        <i class="bi bi-trophy-fill fs-5 text-secondary"></i>
                                        <strong class="ps-2 fw-light">Concurso</strong>
                                    </a>
                                </li>
                                <li class="nav-item py-2 ps-4 position-relative">
                                    <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                        <i class="bi bi-inboxes-fill fs-5 text-secondary"></i>
                                        <strong class="ps-2 fw-light">Servicios</strong>
                                    </a>
                                    <ul class="dropdown-menu rounded-0 dropdwnmenu">
                                        <li><a class="dropdown-item px-4" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/">Transporte</a></li>
                                        <li><a class="dropdown-item px-4" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/">Seguro</a></li>
                                        <li><a class="dropdown-item px-4" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/">Embalaje</a></li>
                                        <li><a class="dropdown-item px-4" href="https://haidejaquelineaf.github.io/b-artemxv1/Views/Construccion/">Avalúo</a></li>
                                    </ul>
                                </li>                             
                            </ul>
                        </div>
                        <div class="pb-3 d-flex justify-content-center">
                            <a href="https://www.facebook.com/profile.php?id=61557621746159" class="text-decoration-none pe-1">
                                <img class="img-fluid" src="https://haidejaquelineaf.github.io/b-artemxv1/Assets/img/ImgsIconos/icon_facebook.png" width="20">
                            </a>
                            <a href="https://www.instagram.com/bolsaartemx_oficial/" class="text-decoration-none pe-1">
                                <img class="img-fluid" src="https://haidejaquelineaf.github.io/b-artemxv1/Assets/img/ImgsIconos/icon_instagram.png" width="15">
                            </a>
                            <a href="https://www.youtube.com/channel/UC0vpIwyHVp3NGFfJir7KivA" class="text-decoration-none pe-1">
                                <img class="img-fluid" src="https://haidejaquelineaf.github.io/b-artemxv1/Assets/img/ImgsIconos/icon_youtube.png" width="20">
                            </a>
                            <a href="https://twitter.com/Bolsaartemx" class="text-decoration-none">
                                <img class="img-fluid" src="https://haidejaquelineaf.github.io/b-artemxv1/Assets/img/ImgsIconos/icon_tiktok.png" width="15">
                            </a>
                            <a href="https://www.tiktok.com/@bolsaartemx?_t=8lRiyMfUAjO&_r=1" class="text-decoration-none">
                                <img class="img-fluid" src="https://haidejaquelineaf.github.io/b-artemxv1/Assets/img/ImgsIconos/icon_linkedin.png" width="20">
                            </a>
                        </div>
                    </section>

            </div>
                    
        </div>            
    <!--FIN MENU MAQUETACIÓN 1 NVL OFFCANVAS NEGRO-->

        <div class="overflow-hidden px-0" id="contPrincipal">
            <div class="container-fluid contsec pb-5">
                <h6 class="pt-5 text-secondary fw-light text-uppercase text-center">Valor universal del arte!...</h6>
                <h1 class="text-center fw-light">BOLSA DEL ARTE MÉXICO</h1>
                <hr class=" mb-4 mx-5">
                    <div class="container-fluid contsec1paginiciocarrusel mt-4">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="3500">
                                    <a href="#"><img src="https://haidejaquelineaf.github.io/b-artemxv1/Files/img/ImgsBannerAnuncios/banner3.jpg" class="d-block w-100"></a>
                                </div>
                                <div class="carousel-item" data-bs-interval="3500">
                                    <a href="#"><img src="https://haidejaquelineaf.github.io/b-artemxv1/Files/img/ImgsBannerAnuncios/banner5.jpeg" class="d-block w-100"></a>
                                </div>
                                <div class="carousel-item" data-bs-interval="3500">
                                    <a href="#"><img src="https://haidejaquelineaf.github.io/b-artemxv1/Files/img/ImgsBannerAnuncios/Obra_04.PNG" class="d-block w-100"></a>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div> 
            </div>
        </div>
               
            
    <!---JS------->
        <!--JS-->
            <script>
                var altura = document.getElementById('menu').offsetHeight;
                var total = window.innerHeight;
                var resultado = parseInt(total) - parseInt(altura);
                document.getElementById("contPrincipal").style.height = resultado + "px";
            </script>
        <!--bootstrap-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!--jquery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>
